@import 'tailwindcss';
@source "../../../apps/**/*.{ts,tsx}";
@source "../../../components/**/*.{ts,tsx}";
@source "../**/*.{ts,tsx}";

@import 'tw-animate-css';

@custom-variant dark (&:is(.dark *));

/* :root {
  --background: oklch(1 0 0);
  --foreground: oklch(0.145 0 0);
  --card: oklch(1 0 0);
  --card-foreground: oklch(0.145 0 0);
  --popover: oklch(1 0 0);
  --popover-foreground: oklch(0.145 0 0);
  --primary: oklch(0.205 0 0);
  --primary-foreground: oklch(0.985 0 0);
  --secondary: oklch(0.97 0 0);
  --secondary-foreground: oklch(0.205 0 0);
  --muted: oklch(0.97 0 0);
  --muted-foreground: oklch(0.556 0 0);
  --accent: oklch(0.97 0 0);
  --accent-foreground: oklch(0.205 0 0);
  --destructive: oklch(0.577 0.245 27.325);
  --destructive-foreground: oklch(0.577 0.245 27.325);
  --border: oklch(0.922 0 0);
  --input: oklch(0.922 0 0);
  --ring: oklch(0.708 0 0);
  --chart-1: oklch(0.646 0.222 41.116);
  --chart-2: oklch(0.6 0.118 184.704);
  --chart-3: oklch(0.398 0.07 227.392);
  --chart-4: oklch(0.828 0.189 84.429);
  --chart-5: oklch(0.769 0.188 70.08);
  --radius: 0.625rem;
  --sidebar: oklch(0.985 0 0);
  --sidebar-foreground: oklch(0.145 0 0);
  --sidebar-primary: oklch(0.205 0 0);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.97 0 0);
  --sidebar-accent-foreground: oklch(0.205 0 0);
  --sidebar-border: oklch(0.922 0 0);
  --sidebar-ring: oklch(0.708 0 0);
} */

/* .dark {
  --background: oklch(0.145 0 0);
  --foreground: oklch(0.985 0 0);
  --card: oklch(0.145 0 0);
  --card-foreground: oklch(0.985 0 0);
  --popover: oklch(0.145 0 0);
  --popover-foreground: oklch(0.985 0 0);
  --primary: oklch(0.985 0 0);
  --primary-foreground: oklch(0.205 0 0);
  --secondary: oklch(0.269 0 0);
  --secondary-foreground: oklch(0.985 0 0);
  --muted: oklch(0.269 0 0);
  --muted-foreground: oklch(0.708 0 0);
  --accent: oklch(0.269 0 0);
  --accent-foreground: oklch(0.985 0 0);
  --destructive: oklch(0.396 0.141 25.723);
  --destructive-foreground: oklch(0.637 0.237 25.331);
  --border: oklch(0.269 0 0);
  --input: oklch(0.269 0 0);
  --ring: oklch(0.556 0 0);
  --chart-1: oklch(0.488 0.243 264.376);
  --chart-2: oklch(0.696 0.17 162.48);
  --chart-3: oklch(0.769 0.188 70.08);
  --chart-4: oklch(0.627 0.265 303.9);
  --chart-5: oklch(0.645 0.246 16.439);
  --sidebar: oklch(0.205 0 0);
  --sidebar-foreground: oklch(0.985 0 0);
  --sidebar-primary: oklch(0.488 0.243 264.376);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.269 0 0);
  --sidebar-accent-foreground: oklch(0.985 0 0);
  --sidebar-border: oklch(0.269 0 0);
  --sidebar-ring: oklch(0.439 0 0);
} */

:root {
  --background: oklch(98.5% 0 0);
  --foreground: oklch(14.5% 0 0);
  --card: oklch(97% 0 0);
  --card-foreground: oklch(14.5% 0 0);
  --popover: oklch(98.5% 0 0);
  --popover-foreground: oklch(14.5% 0 0);
  --primary: oklch(54.6% 0.245 262.881);
  --primary-foreground: oklch(98.5% 0 0);
  --secondary: oklch(92.8% 0.006 264.531);
  --secondary-foreground: oklch(21% 0.034 264.665);
  --muted: oklch(92.8% 0.006 264.531);
  --muted-foreground: oklch(55.1% 0.027 264.364);
  --accent: oklch(92.8% 0.006 264.531);
  --accent-foreground: oklch(21% 0.034 264.665);
  --destructive: oklch(57.7% 0.245 27.325);
  --destructive-foreground: oklch(98.5% 0 0);
  --border: oklch(87.2% 0.01 258.338);
  --input: oklch(87.2% 0.01 258.338);
  --ring: oklch(54.6% 0.245 262.881);
  --chart-1: oklch(80.9% 0.105 251.813);
  --chart-2: oklch(62.3% 0.214 259.815);
  --chart-3: oklch(54.6% 0.245 262.881);
  --chart-4: oklch(48.8% 0.243 264.376);
  --chart-5: oklch(42.4% 0.199 265.638);
  --sidebar: oklch(98.5% 0 0);
  --sidebar-foreground: oklch(14.5% 0 0);
  --sidebar-primary: oklch(54.6% 0.245 262.881);
  --sidebar-primary-foreground: oklch(97% 0.014 254.604);
  --sidebar-accent: oklch(92.8% 0.006 264.531);
  --sidebar-accent-foreground: oklch(21% 0.034 264.665);
  --sidebar-border: oklch(87.2% 0.01 258.338);
  --sidebar-ring: oklch(54.6% 0.245 262.881);
  --header: oklch(98.5% 0 0);
  --header-foreground: oklch(14.5% 0 0);
  --footer: oklch(98.5% 0 0);
  --footer-foreground: oklch(14.5% 0 0);
  --code: oklch(1 0 0);
  --code-foreground: oklch(0.708 0 0);
  --code-highlight: oklch(0.27 0 0);
  --code-number: oklch(0.72 0 0);
  --code-selection: oklch(0.922 0 0);
  --code-border: oklch(0.922 0 0);
  --radius: 0.625rem;
}

.dark {
  --background: oklch(14.5% 0 0);
  --foreground: oklch(97% 0 0);
  --card: oklch(20.5% 0 0);
  --card-foreground: oklch(97% 0 0);
  --popover: oklch(20.5% 0 0);
  --popover-foreground: oklch(97% 0 0);
  --primary: oklch(62.3% 0.214 259.815);
  --primary-foreground: oklch(1 0 0);
  --secondary: oklch(26.9% 0 0);
  --secondary-foreground: oklch(97% 0 0);
  --muted: oklch(0.27 0 0);
  --muted-foreground: oklch(55.6% 0 0);
  --accent: oklch(27.8% 0.033 256.848);
  --accent-foreground: oklch(98.5% 0.002 247.839);
  --destructive: oklch(57.7% 0.245 27.325);
  --destructive-foreground: oklch(98.5% 0.002 247.839);
  --border: oklch(26.9% 0 0);
  --input: oklch(26.9% 0 0);
  --ring: oklch(62.3% 0.214 259.815);
  --chart-1: oklch(80.9% 0.105 251.813);
  --chart-2: oklch(62.3% 0.214 259.815);
  --chart-3: oklch(54.6% 0.245 262.881);
  --chart-4: oklch(48.8% 0.243 264.376);
  --chart-5: oklch(42.4% 0.199 265.638);
  --sidebar: oklch(14.5% 0 0);
  --sidebar-foreground: oklch(97% 0 0);
  --sidebar-primary: oklch(62.3% 0.214 259.815);
  --sidebar-primary-foreground: oklch(1 0 0);
  --sidebar-accent: oklch(27.8% 0.033 256.848);
  --sidebar-accent-foreground: oklch(98.5% 0.002 247.839);
  --sidebar-border: oklch(26.9% 0 0);
  --sidebar-ring: oklch(62.3% 0.214 259.815);
  --header: oklch(14.5% 0 0);
  --header-foreground: oklch(97% 0 0);
  --footer: oklch(14.5% 0 0);
  --footer-foreground: oklch(97% 0 0);
  --code: oklch(0.2 0 0);
  --code-foreground: oklch(0.708 0 0);
  --code-highlight: oklch(0.27 0 0);
  --code-number: oklch(0.72 0 0);
  --code-selection: oklch(0.922 0 0);
  --code-border: oklch(1 0 0 / 10%);
  --radius: 0.625rem;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-destructive: var(--destructive);
  --color-destructive-foreground: var(--destructive-foreground);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);
  --color-chart-1: var(--chart-1);
  --color-chart-2: var(--chart-2);
  --color-chart-3: var(--chart-3);
  --color-chart-4: var(--chart-4);
  --color-chart-5: var(--chart-5);
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
  --color-sidebar: var(--sidebar);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-ring: var(--sidebar-ring);

  --radius-5xl: 2.5rem;

  --breakpoint-xs: 20rem;
  --breakpoint-xs-1: 30rem;
  --breakpoint-xs-2: 35rem;
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }
}

.custom-section-gradiant-1 {
  @apply bg-[linear-gradient(280.56deg,_rgba(255,_160,_160,_0.6)_0%,_rgba(255,_225,_225,_0.8)_24.02%,_rgba(215,_244,_232,_0.8)_80%,_#EEFBF6_100%)];
}

.custom-gradiant-1 {
  @apply bg-[linear-gradient(270deg,_#EEFBF6_0%,_#A8E6CF_100%)];
}

.custom-gradiant-2 {
  @apply bg-[linear-gradient(270deg,_#EEFBF6_0%,_#A8E6CF_100%)];
}

.custom-badge-text {
  @apply text-base text-[#146858];
}

.custom-badge-bg {
  @apply bg-[#A8E6CF] text-[#10443B];
}

.contact-form-border {
  @apply shadow-none border-[1px_0px_0px_1px] border-solid border-[linear-gradient(146.14deg,_#4ABD9D_0%,_#B9E8D8_33.91%,_rgba(185,_232,_216,_0)_100%)] from-[#4ABD9D] via-[#B9E8D8] to-[rgba(185,232,216,0)];
}

.who-we-are-clip-path {
  clip-path: polygon(
    0% 5.911%,
    0% 5.911%,
    0.085% 4.952%,
    0.332% 4.043%,
    0.726% 3.195%,
    1.255% 2.42%,
    1.905% 1.731%,
    2.663% 1.141%,
    3.515% 0.66%,
    4.448% 0.301%,
    5.449% 0.077%,
    6.504% 0%,
    93.496% 0%,
    93.496% 0%,
    94.551% 0.077%,
    95.552% 0.301%,
    96.485% 0.66%,
    97.337% 1.141%,
    98.095% 1.731%,
    98.745% 2.42%,
    99.274% 3.195%,
    99.668% 4.043%,
    99.915% 4.952%,
    100% 5.911%,
    100% 58.374%,
    100% 58.374%,
    99.915% 59.333%,
    99.668% 60.243%,
    99.274% 61.091%,
    98.745% 61.866%,
    98.095% 62.554%,
    97.337% 63.145%,
    96.485% 63.626%,
    95.552% 63.984%,
    94.551% 64.208%,
    93.496% 64.286%,
    67.615% 64.286%,
    67.615% 64.286%,
    66.56% 64.363%,
    65.559% 64.587%,
    64.626% 64.946%,
    63.774% 65.426%,
    63.016% 66.017%,
    62.366% 66.706%,
    61.837% 67.48%,
    61.443% 68.329%,
    61.196% 69.238%,
    61.111% 70.197%,
    61.111% 94.089%,
    61.111% 94.089%,
    61.026% 95.048%,
    60.78% 95.957%,
    60.385% 96.805%,
    59.856% 97.58%,
    59.206% 98.269%,
    58.448% 98.859%,
    57.596% 99.34%,
    56.663% 99.699%,
    55.662% 99.923%,
    54.607% 100%,
    6.504% 100%,
    6.504% 100%,
    5.449% 99.923%,
    4.448% 99.699%,
    3.515% 99.34%,
    2.663% 98.859%,
    1.905% 98.269%,
    1.255% 97.58%,
    0.726% 96.805%,
    0.332% 95.957%,
    0.085% 95.048%,
    0% 94.089%,
    0% 5.911%
  );
}

.team-card-clip-path {
  clip-path: polygon(
    0% 5.319%,
    0% 5.319%,
    0.066% 4.456%,
    0.256% 3.638%,
    0.559% 2.875%,
    0.967% 2.178%,
    1.468% 1.558%,
    2.052% 1.026%,
    2.709% 0.594%,
    3.428% 0.271%,
    4.199% 0.07%,
    5.013% 0%,
    94.987% 0%,
    94.987% 0%,
    95.801% 0.07%,
    96.572% 0.271%,
    97.291% 0.594%,
    97.948% 1.026%,
    98.532% 1.558%,
    99.033% 2.178%,
    99.441% 2.875%,
    99.744% 3.638%,
    99.934% 4.456%,
    100% 5.319%,
    100% 81.25%,
    100% 81.25%,
    99.934% 82.113%,
    99.744% 82.931%,
    99.441% 83.694%,
    99.033% 84.391%,
    98.532% 85.011%,
    97.948% 85.543%,
    97.291% 85.975%,
    96.572% 86.298%,
    95.801% 86.5%,
    94.987% 86.569%,
    92.481% 86.569%,
    92.481% 86.569%,
    91.668% 86.639%,
    90.897% 86.84%,
    90.178% 87.163%,
    89.521% 87.595%,
    88.937% 88.127%,
    88.436% 88.747%,
    88.028% 89.444%,
    87.724% 90.207%,
    87.534% 91.025%,
    87.469% 91.888%,
    87.469% 94.681%,
    87.469% 94.681%,
    87.403% 95.544%,
    87.213% 96.362%,
    86.909% 97.125%,
    86.502% 97.822%,
    86.001% 98.442%,
    85.417% 98.974%,
    84.76% 99.406%,
    84.041% 99.729%,
    83.269% 99.93%,
    82.456% 100%,
    5.013% 100%,
    5.013% 100%,
    4.199% 99.93%,
    3.428% 99.729%,
    2.709% 99.406%,
    2.052% 98.974%,
    1.468% 98.442%,
    0.967% 97.822%,
    0.559% 97.125%,
    0.256% 96.362%,
    0.066% 95.544%,
    0% 94.681%,
    0% 5.319%
  );
}

.cta-card-clip-path {
  clip-path: polygon(
    0% 28.736%,
    0% 28.736%,
    0.019% 27.803%,
    0.073% 26.919%,
    0.159% 26.094%,
    0.276% 25.341%,
    0.418% 24.672%,
    0.585% 24.097%,
    0.772% 23.63%,
    0.977% 23.281%,
    1.197% 23.064%,
    1.429% 22.989%,
    4.286% 22.989%,
    4.286% 22.989%,
    4.517% 22.913%,
    4.737% 22.696%,
    4.942% 22.347%,
    5.129% 21.88%,
    5.296% 21.305%,
    5.439% 20.636%,
    5.555% 19.883%,
    5.641% 19.058%,
    5.696% 18.174%,
    5.714% 17.241%,
    5.714% 5.747%,
    5.714% 5.747%,
    5.733% 4.815%,
    5.787% 3.931%,
    5.874% 3.106%,
    5.99% 2.353%,
    6.133% 1.683%,
    6.299% 1.109%,
    6.486% 0.641%,
    6.691% 0.293%,
    6.911% 0.075%,
    7.143% 0%,
    98.571% 0%,
    98.571% 0%,
    98.803% 0.075%,
    99.023% 0.293%,
    99.228% 0.641%,
    99.415% 1.109%,
    99.582% 1.683%,
    99.724% 2.353%,
    99.841% 3.106%,
    99.927% 3.931%,
    99.981% 4.815%,
    100% 5.747%,
    100% 71.264%,
    100% 71.264%,
    99.981% 72.197%,
    99.927% 73.081%,
    99.841% 73.906%,
    99.724% 74.659%,
    99.582% 75.328%,
    99.415% 75.903%,
    99.228% 76.37%,
    99.023% 76.719%,
    98.803% 76.936%,
    98.571% 77.011%,
    95.75% 77.011%,
    95.75% 77.011%,
    95.518% 77.087%,
    95.298% 77.304%,
    95.093% 77.653%,
    94.906% 78.12%,
    94.74% 78.695%,
    94.597% 79.364%,
    94.481% 80.117%,
    94.394% 80.942%,
    94.34% 81.826%,
    94.321% 82.759%,
    94.321% 94.253%,
    94.321% 94.253%,
    94.303% 95.185%,
    94.249% 96.069%,
    94.162% 96.894%,
    94.046% 97.647%,
    93.903% 98.317%,
    93.737% 98.891%,
    93.55% 99.359%,
    93.345% 99.707%,
    93.125% 99.925%,
    92.893% 100%,
    1.429% 100%,
    1.429% 100%,
    1.197% 99.925%,
    0.977% 99.707%,
    0.772% 99.359%,
    0.585% 98.891%,
    0.418% 98.317%,
    0.276% 97.647%,
    0.159% 96.894%,
    0.073% 96.069%,
    0.019% 95.185%,
    0% 94.253%,
    0% 28.736%
  );
}
